.container {
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F3F3F3;
  border: none !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.ql-toolbar:first-child {
   display: none !important;      /* Removing this, displayed the top editing toolbar twice on the top. This happens because of the new react
                                    mounting rules in React 18 or above. React mounts then unmounts and then remounts, something like that. */
}